ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    font-family: sans-serif;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
body{
    background-color: rgb(20, 20, 121)
}
h1{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
h2{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
h3{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
h4{
    color: white;
    font-size:  50px;
    font-family: sans-serif;
}
h5{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
p{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}

#euaqui{
    width: 50%;
    height: 100%;
}

.item1{
    grid-area: texto;
}
.item2{
    grid-area: texto2;
}
.item3{
    grid-area: rosto;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "texto texto texto texto texto texto rosto"
    ;
}
.grid-container1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    ". cursos"
    "unesp info"
    "info2 fatec"
    ;
}
.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "texto3 texto3"
    "info2 boneco"
    ;
}
.item9{
    grid-area: texto3;
}
.item10{
    grid-area: info2;
}
.item11{
    grid-area: boneco;
}


.item4{
    grid-area: cursos;
}
.item5{
    grid-area: unesp;
}
.item6{
    grid-area: info;
}
.item7{
    grid-area: fatec;
}
.item8{
    grid-area: info2
}

#botao2{
    background-color: blue;
    color: white;
    font-size: 30px;
    border-color: blue;
}
#botao3{
    background-color: blue;
    color: white;
    font-size: 30px;
    border-color: blue;
}

.button{
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 0 2.5px 0 #39a2db59;
    cursor: pointer;
    background-color: #ffffff;
}

#botao{
    float: right;
    height: 100%;
    background-color: blue;
    color: white;
    font-size: 30px;
    border-color: blue;
}

.grid-container3{
    background-color: rgb(255, 255, 255);
}
.grid-container4{
    background-color: rgb(253, 253, 253);
}

#contato2{
    text-decoration: none;
}
#email2{
    text-decoration: none;
}

#insta{
    text-decoration: none;
    color: white;
}

#face{
    text-decoration: none;
    color: white;
}

#whats{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 600px) {

  }